
    {% include 'layout.html' %}
    <br>
   <div class="col-md-12">
     <h1 class="homeheading mt-5">
        <marquee behavior="" direction=""> Welcome to this FastAPI TodoApp!</marquee>
    </h1>
    <div style="text-align: right;">
        <span><b>Developer:</b> <i>{{developer}}</i></span>
    </div>
   </div>
   <div class="col-md-12 text-center">
    <img src="{{ url_for('static', path='/image/todo-list-vector.jpg') }}" alt="todo-image" width="30%"/>
   </div>

    <script>
        $(document).ready(function(e){
            // setTimeout(function(){
            //     window.location.href = "/docs"
            // }, 15000)
        })
    </script>
